<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Register page</title>
    <link th:href="@{/css/login_style.css}" rel="stylesheet"/>
</head>

<body>
<div class="main1">
    <div class="container ">
        <div class="login_header flex1">
            <h1>Error page</h1>
        </div>

        <div class="login_header flex1">
            <h1>Probably you have just entered incorrect data!</h1>
        </div>

        <div class="login_header flex2">
            <a class="header_h3" href="/register">Go to register page</a>
            <a class="header_h3" href="/login">Go to login page</a>
        </div>
    </div>
</div>
</div>


</body>

</html>